* {
  --font-text-size: 1.3rem;
}

.internal-link {
  background: none;
}

.multi-select-pill.internal-link {
  background: none;
}

img[alt*="center"] {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
