* {
  --font-text-size: 1.2rem;
  --bases-table-font-size: 1.1rem;
  --bases-table-row-height: 40px;
}

.internal-link {
  background: none;
}

.multi-select-pill.internal-link {
  background: none;
}

img[alt*="center"] {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
